<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="j-ui/jquery-ui.structure.min.css">

<link rel="stylesheet" href="j-ui/jquery-ui.theme.min.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/af.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>



<title>Topnotch Rainfall Monitor</title>


</head>
<body>
<header class="site-header">
	<div class="container header-contain">
		<h1 id="title">TOPNOTCH RAINFALL MONITOR</h1>

		<a class="profile-link" href="index.html">Log Out</a>
		<a class="profile-link" href="#">Welcome user_1

		</a>

	</div>

</header>
<div class="page-wrapper">
	<section class="container">
		<div class="row">
			<div class="col col-sm-4">
				<h2 class="date">Rainfall for 
					<span id="selected-date">Today 8/28/2016</span>
				</h2>

				<div id="datepicker"></div>
				 
				<script>
				$( "#datepicker" ).datepicker( {
					onSelect: function(date) {
						$("#selected-date").text(date);
					}
				});
				</script>

			</div>

			<div class="col col-md-4 col-sm-8">
				<h2 class="zip-title">89108 Rainfall</h2>
			
				<table class="rain-table">
					<tr>
						<td class="table-heading">
							Site
						</td>

						<td class="table-heading">
							Rainfall  <i class="fa fa-caret-up"> </i>
						</td>
					</tr>

					<tr>
						<td>
							<h4 class="table-site">Ubuntu</h4>
							123 Fake Street 89147
						</td>

						<td>
							<h3 class="rainfall">.03 in.</h3>
						</td>
					</tr>

					<tr>
						<td>
							<h4 class="table-site">Ubuntu</h4>
							123 Fake Street 89147
						</td>

						<td>
							<h3 class="rainfall">.03 in.</h3>
						</td>
					</tr>

					<tr>
						<td>
							<h4 class="table-site">Ubuntu</h4>
							123 Fake Street 89147
						</td>

						<td>
							<h3 class="rainfall">.03 in.</h3>
						</td>
					</tr>


				</table>

			<h2 class="zip-title">89108 Rainfall</h2>
			
			<table class="rain-table">
				<tr>
					<td class="table-heading">
						Site
					</td>

					<td class="table-heading">
						Rainfall  <i class="fa fa-caret-up"> </i>
					</td>
				</tr>

				<tr>
					<td>
						<h4 class="table-site">Ubuntu</h4>
						123 Fake Street 89147
					</td>

					<td>
						<h3 class="rainfall">.03 in.</h3>
					</td>
				</tr>

				<tr>
					<td>
						<h4 class="table-site">Ubuntu</h4>
						123 Fake Street 89147
					</td>

					<td>
						<h3 class="rainfall">.03 in.</h3>
					</td>
				</tr>

				<tr>
					<td>
						<h4 class="table-site">Ubuntu</h4>
						123 Fake Street 89147
					</td>

					<td>
						<h3 class="rainfall">.03 in.</h3>
					</td>
				</tr>


			</table>

			</div><!-- col -->

			<div class="col col-md-4">
				<h2 class="zip-title">89108 Rainfall</h2>
			
				<table class="rain-table">
					<tr>
						<td class="table-heading">
							Site
						</td>

						<td class="table-heading">
							Rainfall  <i class="fa fa-caret-up"> </i>
						</td>
					</tr>

					<tr>
						<td>
							<h4 class="table-site">Ubuntu</h4>
							123 Fake Street 89147
						</td>

						<td>
							<h3 class="rainfall">.03 in.</h3>
						</td>
					</tr>

					<tr>
						<td>
							<h4 class="table-site">Ubuntu</h4>
							123 Fake Street 89147
						</td>

						<td>
							<h3 class="rainfall">.03 in.</h3>
						</td>
					</tr>

					<tr>
						<td>
							<h4 class="table-site">Ubuntu</h4>
							123 Fake Street 89147
						</td>

						<td>
							<h3 class="rainfall">.03 in.</h3>
						</td>
					</tr>


				</table>

			<h2 class="zip-title">89108 Rainfall</h2>
			
			<table class="rain-table">
				<tr>
					<td class="table-heading">
						Site
					</td>

					<td class="table-heading">
						Rainfall  <i class="fa fa-caret-up"> </i>
					</td>
				</tr>

				<tr>
					<td>
						<h4 class="table-site">Ubuntu</h4>
						123 Fake Street 89147
					</td>

					<td>
						<h3 class="rainfall">.03 in.</h3>
					</td>
				</tr>

				<tr>
					<td>
						<h4 class="table-site">Ubuntu</h4>
						123 Fake Street 89147
					</td>

					<td>
						<h3 class="rainfall">.03 in.</h3>
					</td>
				</tr>

				<tr>
					<td>
						<h4 class="table-site">Ubuntu</h4>
						123 Fake Street 89147
					</td>

					<td>
						<h3 class="rainfall">.03 in.</h3>
					</td>
				</tr>


			</table>

			</div><!-- col -->

		</div><!-- row -->
	</section>
</div>

</body>
</html>	







<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_sites.each do |job_site| %>
      <tr>
        <td><%= link_to 'Show', job_site %></td>
        <td><%= link_to 'Edit', edit_job_site_path(job_site) %></td>
        <td><%= link_to 'Destroy', job_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
The Rainrate for [<%=@coordinates%>], (Henderson, NV) is <%=@testresults['rainRate']%>
<%= link_to 'New Job site', new_job_site_path %>
