<!DOCTYPE html>
<html>
	
<%= render 'chartHead' %>

<body>
	
	<%= render 'header' %>
	

	<% @job.each do |job_site| %>

			<% @rainList = @rain.where(:job_sites_id => job_site.id).last(4).collect { |obj| obj.amount } %>

	      	
      	<%= content_tag 'div',style: 'display: none', class: 'rains', data: {:rain=> @rainList, :site_id=> job_site.id} do %>
      		rsatras
      	<% end %>
	<%end%>
	
	<div class="page-wrapper">
	  
		<section class="container">
	
			  <div class="row">
			    <%= render 'calendar' %>
			    <%= react_component 'Main', { sites: @job, rains: @rain } %>
			  </div><!-- row -->
	      
		</section>
	</div>
	
</body>
</html>	